<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/main_admin_layout">
<th:block layout:fragment="titleAdmin">
    <title>Chỉnh sửa thương hiệu</title>
</th:block>


<main layout:fragment="content">
    <div class="width-full-sidebar">
        <div class="container-fluid">
            <form class="row p-5 pt-0" th:action="'/admin/brand/' +${brand.id}" th:object="${brand}" enctype="multipart/form-data" method="post">
                <h3 class="p-3">Add Brand</h3>
                <div class="col">
                    <div class="row p-2">
                        <div class="col-md-12 p-3 bg-white border border-2">
                            <h5>Basic information</h5>
                            <div class="row">
                                <div class="col-md-12 mt-3 mb-3">
                                    <p>Brand Name <span class="text-danger">(*)</span></p>
                                    <input th:field="*{name}" type="text" class="form-control" placeholder="Name" />
                                    <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-3 bg-white mt-4 border border-2">
                        <!-- <p>Image</p>
                        <div>
                            <input id="listImage" type="file" th:name="avatarFile" multiple class="form-control" />
                        </div>
                        <input type="file" id="pro-image" name="pro-image" style="display: none" class="form-control" multiple />
                        </fieldset>
                        <div class="preview-images-zone" th:name="images"></div> -->

                        <p>Image</p>
                        <div>
                            <input type="file" id="listImage" name="avatarFile" class="form-control" />
                        </div>
                        <input type="file" id="pro-image" name="pro-image" style="display: none" class="form-control" multiple />

                        <div class="col-md-12">
                            <input class="btn btn-primary mt-3 w-100" type="submit" value="Submit" />
                        </div>
                    </div>
                </div>
        </div>

        </form>
    </div>
    </div>
    </div>
    <script th:inline="javascript">
    </script>
</main>

</html>