<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/main_admin_layout">
<th:block layout:fragment="titleAdmin">
    <title>Chỉnh sửa sản phẩm</title>
</th:block>

<main layout:fragment="content">
    <div class="width-full-sidebar">
        <div class="container-fluid">
            <form class="row p-5 pt-0" th:action="@{/admin/product/update}" th:object="${product}" th:method="post" modelAttribute="product" enctype="multipart/form-data">
                <input th:field="*{id}" hidden type="text" />
                <div class="row justify-content-between">
                    <h3 class="p-3 col-md-6" th:text="${title}">Product</h3>
                    <a th:href="'/admin/product/'+${product.id}" class="col-md-3 btn btn-secondary btn-secondary m-4" title="Thu hồi"><i class="fa fa-refresh fs-4" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12 p-3 bg-white border border-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="d-flex justify-content-between">
                                        <span class="fs-5">Tên sản phẩm<span class="ms-2 text-danger">(*)</span></span>
                                    </p>
                                    <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                                    <input th:field="*{name}" type="text" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 p-3 bg-white mt-4 border border-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="d-flex justify-content-between">
                                        <span class="fs-5">Brands<span class="ms-2 text-danger">(*)</span></span>
                                    </p>
                                    <select class="form-select" id="brandSelect" required>
                      <option
                        th:each="item:${brands}"
                        th:value="${item.id}"
                        th:text="${item.name}"
                        th:selected="${item.id == product.productLine.brand.id}"
                      >
                        1
                      </option>
                    </select>
                                </div>
                                <div class="col-md-6">
                                    <p class="d-flex justify-content-between">
                                        <span class="fs-5">Product Line<span class="ms-2 text-danger">(*)</span></span>
                                    </p>
                                    <select th:name="productLineId" class="form-select" id="productLineSelect" required>
                      <option value="">Select Product Line</option>
                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 p-3 bg-white mt-4 border border-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="d-flex justify-content-between">
                                        <span class="fs-5">Catagories<span class="ms-2 text-danger">(*)</span></span>
                                    </p>
                                    <select th:field="*{category}" class="form-select" id="categorySelect" required>
                    <option
                    th:each="category: ${categories}"
                    th:value="${category.id}"
                    th:text="${category.name}"
                    th:selected="${category.id == product.category.id}"
                  >
                    1
                  </option>
                    </select>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <p class="d-flex justify-content-between">
                                        <span class="fs-5">Trạng thái<span class="ms-2 text-danger">(*)</span></span>
                                    </p>
                                    <select th:field="*{status}" class="form-select" required>
                      <option th:value="true">Đang bán</option>
                      <option  th:value="false">Ngừng bán</option>
                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 p-3 bg-white mt-4 border border-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="d-flex justify-content-between">
                                        <span class="fs-5">Giá củ<span class="ms-2 text-danger">(*)</span></span>
                                    </p>
                                    <input th:field="*{price}" type="number" class="form-control" required />
                                    <div class="alert alert-warning" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
                                </div>
                                <div class="col-md-6">
                                    <p class="d-flex justify-content-between">
                                        <span class="fs-5">Giá mới<span class="ms-2 text-danger">(*)</span></span>
                                    </p>
                                    <input th:field="*{promotionPrice}" type="number" class="form-control" required />
                                    <div class="alert alert-warning" th:if="${#fields.hasErrors('promotionPrice')}" th:errors="*{promotionPrice}"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 p-3 bg-white mt-4 border border-2">
                            <p>Image</p>
                            <div>
                                <input id="listImage" type="file" th:name="avatarFile" multiple class="form-control" />
                            </div>
                            <!-- <fieldset class="form-group">
                  <a
                    href="javascript:void(0)"
                    onclick="$('#pro-image').click()"
                    class="bg-secondary bg-opacity-10 p-3 w-100 d-block text-primary text-center rounded-3"
                    >Click here for upload Images
                    <i class="fa fa-upload" aria-hidden="true"></i>
                  </a> -->
                            <input type="file" id="pro-image" name="pro-image" style="display: none" class="form-control" multiple />
                            </fieldset>
                            <div class="preview-images-zone" th:name="images"></div>
                            <div class="col-md-12">
                                <input class="btn btn-primary mt-3 w-100" type="submit" value="Submit" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ps-5">
                    <div class="row bg-white border border-2 p-3">
                        <h5 class="">Size</h5>
                        <div class="col-md-12 p-3 bg-white border border-2">
                            <div class="row">
                                <table class="table tableSize">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col" class="w-25">
                                                <label class="form-check-label">
                            <input
                              type="checkbox"
                              class="form-check-input checkbox-size"
                              id="checkAllSize"
                            /><span>All</span>
                          </label
                          >
                        </th>
                        <th scope="col">Quantity</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="size:${sizes}">
                        <th
                          scope="row"
                          class="align-middle"
                          th:text="${size.id}"
                          
                        >
                          1
                        </th>
                        <td class="align-middle">
                          <div class="form-check">
                            <input
                              th:id="size+${size.id}"
                              type="checkbox"
                              class="form-check-input checkbox-size"
                              th:value="${size.id}"
                              th:name="sizes"
                            />
                            <label
                              class="form-check-label"
                              th:for="size+${size.id}"
                              th:text="${size.name}"
                            >
                            </label>
                            </div>
                            </td>
                            <td>
                                <input th:id="quantity+${size.id}" type="number" class="form-control quantitySize" th:name="quantity" disabled />
                            </td>
                            </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
        </form>
    </div>
    <script th:src="@{js/product_admin.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var brands = /*[[${brands}]]*/ ;
        var productSizes = /*[[${productSizes}]]*/ ;
        var productLineCurrent = /*[[${productLineCurrent}]]*/ ;
        var avatar = /*[[${product.avatar}]]*/ ;
        var images = /*[[${product.images}]]*/ ;
        var listImage = [avatar, ...images];
        setTimeout(function() {
            loadImages(listImage)

        }, [200])
        var selectBrand = document.getElementById("brandSelect")

        selectBrand.onchange = selectProductLine

        function selectProductLine() {
            const idBrand = $("#brandSelect").val()
            const productLine = brands[idBrand - 1]
            const selectProductLine = document.getElementById("productLineSelect")
            if (idBrand == -1)
                selectProductLine.innerHTML = '<option value="">Select Product Line</option>'
            else
                selectProductLine.innerHTML = ''

            productLine.productLines.map((pl) => {
                const option = document.createElement("option")
                option.setAttribute("value", pl.id)
                option.setAttribute("text", pl.name)
                if (productLineCurrent == pl.id) {
                    option.setAttribute("selected", true)
                }
                option.innerHTML = pl.name
                return selectProductLine.append(option)
            })
        }
        selectProductLine()

        /* Checked Size */
        $(".checkbox-size")

        productSizes.map(e => {
            $(`#size${e.size.id}`).prop('checked', true)
            $(`#quantity${e.size.id}`).prop('disabled', false)
            $(`#quantity${e.size.id}`).val(e.quantity)
        })

        $("#productLineSelect").change(function() {
            $("#ipProductLine").val($(this).val());
        });

        $("#checkAllSize").click(function() {
            if ($(this).is(":checked")) {
                $(".quantitySize").prop("disabled", false);
            } else {
                $(".quantitySize").prop("disabled", true);
                $(".quantitySize").val(null)
            }
            $(".checkbox-size").not(this).prop("checked", this.checked);

        });

        $(".checkbox-size").click(function() {
            var ip = $(`#quantity${$(this).val()}`)[0]
            if (ip == null) return;
            if ($(this).is(":checked")) {
                ip.disabled = false;
            } else {
                ip.disabled = true;
                ip.value = "";
            }
            $("#checkAllSize").prop("checked", false);
        });
        /*]]>*/
    </script>
</main>

</html>