<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/main_admin_layout">
<th:block layout:fragment="titleAdmin">
    <title>Chỉnh sửa mã khuyến mãi</title>
</th:block>


<main layout:fragment="content">
    <div class="width-full-sidebar">
        <div class="width-full-sidebar">
            <div class="container-fluid">
                <form class="row p-5 pt-0" action="#" th:action="'/admin/promotion/' +${promotion.id}" th:object="${promotion}" method="post">
                    <h3 class="p-4">Edit Promotions</h3>
                    <div class="col">
                        <div class="row">
                            <div class="col-md-12 p-3 bg-white border border-2">
                                <h5>Basic information</h5>
                                <div class="row">
                                    <div class="row col-md-12 mt-3 mb-3">
                                        <div class="col-md-4">
                                            <p>Code <span class="text-danger">(*)</span> </p>
                                            <input th:field="*{code}" type="text" class="form-control" />
                                            <span class="text-danger"></span>
                                            <div class="alert alert-warning" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></div>
                                        </div>
                                        <div class="col-md-4">
                                            <p>Percentile <span class="text-danger">(*)</span> </p>
                                            <input th:field="*{percentile}" type="number" class="form-control" min="1" placeholder="value >0" />
                                        </div>
                                        <div class="col-md-4">
                                            <p>Total <span class="text-danger">(*)</span> </p>
                                            <input th:field="*{totalCode}" type="number" class="form-control" min="1" />
                                        </div>
                                    </div>
                                    <div class="row col-md-12 mt-3 mb-3">
                                        <div class="col-md-6">
                                            <p>Begin Date <span class="text-danger">(*)</span> </p>
                                            <input name="startDate1" type="date" class="form-control" />
                                        </div>
                                        <div class="col-md-6">
                                            <p>End<span class="text-danger">(*)</span> </p>
                                            <input name="endDate1" type="date" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row col-md-12 mt-3 mb-3">
                                        <div class="col-md-6">
                                            <p>Max Value <span class="text-danger">(*)</span> </p>
                                            <input th:field="*{maxValue}" type="number" class="form-control" min="1" />
                                        </div>
                                        <div class="col-md-6">
                                            <p>Min Value<span class="text-danger">(*)</span> </p>
                                            <input th:field="*{minValue}" type="number" class="form-control" min="1" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <input class="btn btn-primary mt-3 w-100" type="submit" value="Submit" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 p-3 mt-4">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
    </script>
</main>

</html>