<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/main_layout">

<th:block layout:fragment="title">
  <title th:text="${product.name}"></title>
</th:block>

<main layout:fragment="content">
  <div class="container">
    <nav aria-label="breadcrumb" class="parent_breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item"><a th:href="@{'/product/brand/'+${product.productLine.brand.id}}"
                                       th:text="${product.productLine.brand.name}">Adas</a></li>
        <li class="breadcrumb-item"><a th:href="@{'/product/product-line/'+${product.productLine.id}}"
                                       th:text="${product.productLine.name}">Adas</a></li>
        <li class="breadcrumb-item active" aria-current="page"
            th:text="${product.name}">Data</li>
      </ol>
    </nav>
  </div>
  <div class="container">
    <div class="product__wrapper row">
      <div class="product__preview col-md-6">
        <div class="product">
          <img class="product__preview__zoom-img"
               th:src="'/images/products/'+${product.avatar}" />
        </div>
        <div class="container text-center my-3 swiper" id="swiper2">
          <div class="row mx-auto my-auto justify-content-center">
            <div id="recipeCarousel2" class="carousel slide"
                 data-bs-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item"
                     th:each="item, status:${product.images}"
                     th:classappend="${status.first?'carousel-item active':'carousel-item'}">

                  <div class="col-md-3">
                    <div class="card__img">
                      <img th:src="'/images/products/'+${item}"
                           class="card-img-top" />
                    </div>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev bg-transparent w-aut"
                 href="#recipeCarousel2" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              </a> <a class="carousel-control-next bg-transparent w-aut"
                      href="#recipeCarousel2" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
            </div>
          </div>

        </div>
      </div>
      <div class="product__details col-md-6">
        <h3 class="product__title" th:text="${product.name}">men's
          shoes fashion</h3>
        <div class="product__rating">
          <div class="stars">
            <span class="fa fa-star checked"></span> <span
                  class="fa fa-star checked"></span> <span
                  class="fa fa-star checked"></span> <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </div>
        </div>
        <div class="d-flex align-items-center border-bottom-doted">
          <h3 class="text-danger"
              th:text="${#numbers.formatDecimal(product.promotionPrice, 0, 'COMMA', 0, 'POINT')} + ' đ'"></h3>
          <h5
                  class="text-secondary text-decoration-line-through ms-4 fw-normal"
                  th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + ' đ'">
            1,600,000 đ</h5>
          <h4 class="bg-discount"
              th:text="'GIẢM '+ ${#numbers.formatDecimal(product.price-product.promotionPrice, 0, 'COMMA', 0, 'POINT')} + ' đ'">
            GIẢM 300,000₫</h4>
        </div>
        <ul>
          <li><b>Trạng thái:</b><span> Còn hàng</span></li>
          <li><b>Tình trạng:</b><span> Hàng mới 100%</span></li>
          <li><b>Hình thức:</b><span> Giao hàng toàn quốc & thanh
							toán khi nhận hàng</span></li>
        </ul>
        <div
                class="p-3 product__details__sizes bg-dark bg-opacity-10 rounded-2">
          <h5 class="">Chọn size:</h5>
          <form class="d-flex flex-wrap">
            <th:block th:each="item,status: ${product.productSizes}">
              <label
                      class="me-3 product__details__sizes__radio rounded-circle border border-dark p-3 d-flex align-items-center"
                      th:classappend="${status.first?'checked':''}"
                      th:if="${item.status}" th:text="${item.size.name}"
                      th:for="${item.id}"
                      th:onclick="'updateQuantity('+${item.quantity}+')'"
                      > </label>
              <input type="radio"  name="size" th:id="${item.id}"
                     th:value="${item.id}" th:checked="${status.first}" hidden/>
            </th:block>
          </form>
        </div>
        <form class="product__details__quantity mt-2">
          <h5 class="text-dark">Số lượng</h5>
          <div class="d-flex mt-3">
						<span class="btn border border-dark" id="decrease_quantity">
							- </span> <input type="number"
                                             class="form-control ms-2 me-2 border border-dark text-end"
                                             value="1" id="quantity" min="1"
                                              th:max="${product.productSizes.size()>0?product.productSizes.get(0).quantity:1}"
                                             onblur="quantityMax()"/> <span
                  class="btn border border-dark" id="increase_quantity"> + </span>
          </div>
        </form>
        <div class="mt-3 border-bottom-doted">
          <button  class="btn btn-warning ps-5 pe-5 pt-2 pb-2 text-white"
                   type="button"  onclick="order()">Mua ngay</button>
          <button onclick="addCartItem()" data-bs-toggle="modal"
                  data-bs-target="#cartModal"
                  class="btn btn-danger border border-danger ps-5 pe-5 pt-2 pb-2"
                  type="button">Thêm giỏ hàng</button>
        </div>
      </div>
    </div>


  </div>
  <div class="container">
    <div class="titlemain">
      <div>
        <span>Sản phẩm liên quan</span>
      </div>
    </div>
  </div>

  <div class="container text-center my-3 swiper" id="swiper">
    <div class="row mx-auto my-auto justify-content-center">
      <div id="recipeCarousel" class="carousel slide"
           data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div th:each="item,status: ${relatedProducts}"
               th:classappend="${status.first?'carousel-item active':'carousel-item'}">
            <div class="col-md-3">
              <a th:href="'/product/'+${item.id}" class="card">
                <div class="card__ribbon">
                  <span>Đang hot</span>
                </div>
                <div class="card__img">
                  <img th:src="'/images/products/'+${item.avatar}"
                       class="card-img-top" />
                </div>
                <div class="card-body">
                  <h5 class="card-title" th:text="${item.name}"></h5>
                  <p class="card-text">
										<span class="text-warning fs-5"
                                              th:text="${#numbers.formatDecimal(item.promotionPrice, 0, 'COMMA', 0, 'POINT')} + ' đ'"></span>
                    <span
                            th:text="${#numbers.formatDecimal(item.price, 0, 'COMMA', 0, 'POINT')} + ' đ'"
                            class="text-secondary fs-6 text-decoration-line-through"></span>
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev bg-transparent w-aut"
           href="#recipeCarousel" role="button" data-bs-slide="prev"> <span
                class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a> <a class="carousel-control-next bg-transparent w-aut"
                href="#recipeCarousel" role="button" data-bs-slide="next"> <span
              class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
      </div>
    </div>

    <div class="container">
      <div
              class="row border-secondary border rounded-2 rating rating__close">
        <div class="row rating__head">
          <div
                  class="col-md-3 d-flex align-items-center justify-content-center flex-column">
            <div class="fs-2">
              <h3>0</h3>
              <i class="fa fa-star rating-color"></i>
            </div>
            <span class="text-secondary fs-4">0 đánh giá</span>
          </div>
          <div
                  class="col-md-5 border-start border-secondary d-flex flex-column justify-content-center">
            <div class="d-flex align-items-center justify-content-center">
              <span>5 </span><i class="fa fa-star rating-color ms-2"></i> <span
                    class="quantity__rating"></span> <span>0 đánh giá</span>
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <span>4 </span><i class="fa fa-star rating-color ms-2"></i> <span
                    class="quantity__rating"></span> <span>0 đánh giá</span>
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <span>3 </span><i class="fa fa-star rating-color ms-2"></i> <span
                    class="quantity__rating"></span> <span>0 đánh giá</span>
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <span>2 </span><i class="fa fa-star rating-color ms-2"></i> <span
                    class="quantity__rating"></span> <span>0 đánh giá</span>
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <span>1 </span><i class="fa fa-star rating-color ms-2"></i> <span
                    class="quantity__rating"></span> <span>0 đánh giá</span>
            </div>
          </div>
          <div
                  class="border-start border-secondary col-md-4 d-flex align-items-center justify-content-center">
            <button class="btn btn-primary" id="guiDanhGia">Gửi đánh
              giá của bạn</button>
          </div>
        </div>
        <div class="rating__star rating__hidden d-flex mt-3">
          <h5 class="review-count">Chọn đánh giá:</h5>
          <div class="ms-3" id="list-star">
            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                  class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                  class="fa fa-star"></i>
          </div>
          <h5 class="ms-3 rating-text"></h5>
        </div>
        <div class="row">
          <div class="col-md-6">
						<textarea class="form-control w-100"
                                  placeholder="Nhập đánh giá về sản phẩm" rows="4"></textarea>
            <label class="file w-100 bg-dark bg-opacity-10 p-2 rounded-3">
              <input type="file" id="file" aria-label="File browser example"
                     hidden /> <span class="file-custom">Đính kèm ảnh</span> <i
                    class="fa fa-camera"></i>
            </label>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <input type="tel" placeholder="Số điện thoại" autocomplete="tel"
                       class="form-control" />
              </div>
              <div class="col-md-6">
                <input type="text" placeholder="Tên" autocomplete="name"
                       class="form-control" />
              </div>
              <div class="col-md-12 mt-3">
                <input type="email" placeholder="Email" autocomplete="email"
                       class="form-control" />
              </div>
              <div class="col-md-12 mt-3">
                <input type="submit" class="btn btn-primary w-100"
                       value="Gửi đánh giá" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

</main>
<th:block layout:fragment="js">
  <script>

    var timer = setInterval(function(){
      if ($("#swiper2 .card-img-top").length) {
        $("#swiper2 .card-img-top").click(function () {
          $(".product__preview__zoom-img").attr("src", $(this).attr("src"));
        })
        clearInterval(timer);
      }
    }, 200);

    /* QUANTITY */
    function quantityMax(){
        let val = Number($("#quantity").val());
        let max = Number($("#quantity").attr("max"));
        if (val>max){
          $("#quantity").val(max);
        }

    }
    function updateQuantity(quantity){
      $("#quantity").val(1);
      $("#quantity").attr("max",quantity);
    }

    $("#increase_quantity").click(() => {
      let val = $("#quantity").val();
      let max = $("#quantity").attr("max");
      if (val<max){
        $("#quantity").val(Number.parseInt($("#quantity").val()) + 1);
      }
    });
    $("#decrease_quantity").click(() => {
      const number = $("#quantity").val() - 1;
      if (number == 0) {
        $("#quantity").val(1);
      } else {
        $("#quantity").val(number);
      }
    });
    /* RADIO SIZE */
    $(".product__details__sizes__radio").click(function () {
      $(".product__details__sizes__radio").removeClass("checked");
      $(this).addClass("checked");
    });

    /* SEND RATING */
    $("#guiDanhGia").click(function () {
      if ($(".rating").hasClass("rating__close")) {
        $(".rating").removeClass("rating__close");
        $(".rating__star").addClass("rating__star_translateX20");
      } else {
        $(".rating").addClass("rating__close");
        $(".rating__star").removeClass("rating__star_translateX20");
      }
    });
    const arrText = [
      "Không thích",
      "Tạm được",
      "Bình thường",
      "Rất tốt",
      "Tuyệt vời",
    ];
    /* SELECTE STAR */
    let numStarSelected = 0;
    $("#list-star .fa-star").mousemove(function () {
      setRatingColor($(this).index());
      $(".rating-text").text(arrText[$(this).index()]);
    });
    $("#list-star .fa-star").click(function () {
      numStarSelected = $(this).index() + 1;
    });
    $("#list-star").mouseleave(function () {
      setRatingColor(numStarSelected - 1);
      $(".rating-text").text(arrText[numStarSelected - 1]);
    });
    function setRatingColor(maxIndex) {
      $("#list-star  .fa-star").removeClass("rating-color");
      for (let i = 0; i <= maxIndex; i++) {
        $("#list-star  .fa-star").eq(i).addClass("rating-color");
      }
    }
    let items2 = document.querySelectorAll(
            "#swiper2 .carousel .carousel-item"
    );

    items2.forEach((el) => {
      const minPerSlide = 4;
      let next = el.nextElementSibling;
      for (var i = 1; i < minPerSlide; i++) {
        if (!next) {
          // wrap carousel by using first child
          next = items2[0];
        }
        let cloneChild = next.cloneNode(true);
        el.appendChild(cloneChild.children[0]);
        next = next.nextElementSibling;
      }
    });
  </script>
  <!-- Link SCRIPT -->
  <script th:src="@{/js/swiper.js}"></script>
  </th:block>
</html>

