.bg-linear-admin {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  min-height: 100vh;
}
body {
  overflow-y: hidden;
}
.bg-linear-admin-btn {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
.login__header {
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-weight: bolder;
}
